/* App.css */

.header {
    text-align: center;
    color: #212529;
    padding: 50px 0;
    background-color: #f8f9fa;
    border-bottom: 3px solid #dee2e6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    transition: all 0.5s ease;
    /* add transition for smooth effect */
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    /* add shadow for depth */
    margin: 0 auto;
    /* center the element horizontally */
}

.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    margin-left: 500px;
    transition: all 0.5s ease;
    width: 50%;
    /* increase form width */
    max-width: 600px;
    /* limit maximum width */
}

.input-form input {
    width: 80%;
    /* give more space to the input field */
    padding: 10px;
    /* add some padding */
    font-size: 1.2rem;
    /* increase font size */
}

.input-form:hover {
    transform: scale(1.05);
    /* scale form on hover */
}

.submit {
    margin-left: auto;
    margin-right: auto;
    /* center the button horizontally */
    display: block;
    /* make the button a block element */
    margin-top: 20px;
    /* add some space between the form and the button */
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition: all 0.5s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 20%;
    /* allocate rest of the space to the button */
    font-size: 1.2rem;
}

.submit:hover {
    background-color: #5a6268;
    /* darken button on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    /* darken shadow on hover */
}

/* App.css */

.response {
    width: 60%;
    /* adjust as needed */
    margin: 20px auto;
    /* centers the response box */
    padding: 20px;
    background-color: #f8f9fa;
    /* Bootstrap's default background color */
    border: 1px solid #dee2e6;
    /* Bootstrap's default border color */
    border-radius: 5px;
    /* rounded corners */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* Bootstrap's default font-family */
    font-size: 1.2rem;
    /* adjust as needed */
    color: #212529;
    /* Bootstrap's default text color */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    /* add shadow for depth */
    transition: all 0.5s ease;
    /* add transition for smooth effect */
}

.response:hover {
    transform: scale(1.05);
    /* scale response on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    /* darken shadow on hover */
}