:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1em;
}

input[type="text"] {
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}


input[type="text"]::placeholder {
  color: #999;
}

input[type="text"]:focus {
  border-color: #646cff;
}